{% extends "layout.html" %}
{%block header%}{{super()}}{%endblock%}
{%block content%}
<br><br>
<div style="text-align: ;font-size: 150%">
    <a class="pushLeft" href="/customers/displaycustomers">Show all customers in the library</a>
    <a class="pushLeft" href="/customers/addnewcustomer">Add new customer to library</a>
    <a class="pushLeft" href="/customers/findcustomer">Search for customer</a>
    <a class="pushLeft" href="/customers/removecustomer">Remove customer from library</a>
</div>
    <div style="text-align: center;">
      
    <h1 class="pushLeft">Find customers </h1>

<div class="pushLeft">
    <form action="/customers/findcustomer" method="POST">
        <label>Customer name:</label>
        <br>
        <input type="text" name="cusname" required autofocus>
        <br><br>

        <button type="submit">Find!</button>
    </form>
</div>
<br><br>

<div class="pushLeft">
    <table>
        <tr>
            <th>customerID</th>
            <th>custName</th>
            <th>custCity</th>
            <th>custAge</th>
        </tr>
        {%for customer in cust%}
        <tr>
            <td>{{customer[0]}}</td>
            <td>{{customer[1]}}</td>
            <td>{{customer[2]}}</td>
            <td>{{customer[3]}}</td>
        </tr>
        {%endfor%}
    </table>
</div>

{%endblock%}
 
