{% extends "layout.html" %} 
{%block header%}{{super()}}{%endblock%}
{%block content%}
<br><br>
<div style="text-align: ;font-size: 150%">
    <a class="pushLeft" href="/loans/display_all_loans">Show all loans books in the library</a>
    <a class="pushLeft" href="/loans/display_late_loans">Show all late loans books in the library</a>
    <a class="pushLeft" href="/loans/loanbook">loan book</a>
    <a class="pushLeft" href="/loans/returnbook">Return a loaned book</a>
</div>
    <div style="text-align: center;">
<h1 class="pushLeft">Loan a book  </h1>
<div>
    <form action="/loans/loanbook" method="POST">
        <label> Enter the customer ID :</label>
        <br>
        <input type="number" name="customerID" required>
        <br><br>
        <label> Enter the book ID :</label>
        <br>
        <input type="number" name="bookID" required>
        <br><br>
        <label> Enter the loan date :</label>
        <br>
        <input type="date" name="loandate" required>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</div>
<div class="pushLeft">
    {{res}}
</div>

{%endblock%}
