{% extends "layout.html" %}
{% block content %}

<br><br>
<div style="text-align: ;font-size: 150%">
    <a class="pushLeft" href="/loans/display_all_loans">Show all loans books in the library</a>
    <a class="pushLeft" href="/loans/display_late_loans">Show all late loans books in the library</a>
    <a class="pushLeft" href="/loans/loanbook">loan book</a>
    <a class="pushLeft" href="/loans/returnbook">Return a loaned book</a>
</div>
    <h1 class="pushLeft"> Library Loans</h1>
    <br><br>


    {% endblock %}
   